body {
    background-color: rgb(2, 0, 17);
    padding-top: 50px;
}

.opening-message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(247, 245, 228);
}